@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PolySans';
  src: url('./fonts/PolySans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.font-sans {
  font-family: 'PolySans', sans-serif;
}

.font-helvetica {
  font-family: Helvetica, Arial, sans-serif;
}